.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  @media screen and (max-width: 1199px) {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
    max-width: 210px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients__link {
  @include displayflex;
  @include transition(border, fill);
  height: 92px;
  border: 1px solid $client-color;
  fill: $client-color;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
