.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  margin: 15px;
  width: 210px;
}
.clients__link {
  @include displayflex;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  height: 92px;
  border: 1px solid $client-color;
  fill: $client-color;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
