.features {
  @media screen and (max-width: 767px) {
    margin-top: -30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.features__heading {
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.features__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.features__description {
  line-height: 24px;
  color: $secondary-color;
  text-align: left;
}
.features__icon {
  @include displayflex;
  height: 120px;
  background-color: #f5f4fa;

  @media screen and (max-width: 767px) {
    margin: 30px 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}
