.filter {
  @include displayflex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.filter__button {
  height: 40px;
  background-color: #f5f4fa;
  color: $primary-color;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  padding: 6px 22px;
  @include transition(color, box-shadow, background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.filter__button--current {
  background-color: $accent-color;
  color: white;
}
