.footer {
  background: $footer-bg;
  padding: 60px 0;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer--container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 160px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer__sub {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
}

.footer__contacts {
  @media screen and (min-width: 1200px) {
    margin-right: 60px;
  }
}
.footer__social {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.footer__heading {
  font-family: Roboto;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}
.footer__address {
  margin-top: 20px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__link {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $footer-link;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer__link--address {
  color: $white-color;
}
.logo-footer {
  display: flex;
  justify-content: center;
}
.logo--white {
  color: $white-color;
}
.footer__social {
  @media screen and (max-width: 767px) {
    margin-bottom: 63px;
  }
}

.social-icons {
  justify-content: center;
}
.form__input--sub {
  padding: 11px 12px;
  height: 50px;
  border: 1px solid $sub-border-color;
  border-radius: 4px;
  background-color: transparent;
  color: $white-color;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 360px;
  }
}
