.footer {
  background: $footer-bg;
  padding: 60px 0;
}
.footer--container {
  display: flex;
  align-items: baseline;
}
.footer__contacts {
  margin-right: 70px;
}
.footer__social {
  margin-right: 93px;
}
.footer__link {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $footer-link;
  margin-top: 20px;
  @include transition(color);
}
.footer__link:hover,
.footer__link:focus {
  color: $accent-color;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__link--address {
  color: $white-color;
}
.logo--white {
  color: $white-color;
}
.footer__heading {
  font-family: Roboto;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}
