.hero__heading {
  font-weight: 900;
  font-size: 26px;
  max-width: 360px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
}
.hero {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  background-color: $hero-bg-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-s.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
