.header-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-contacts--mobile {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
  }
}
.header-contacts__item {
  @media screen and (max-width: 767px) {
    &:nth-child(2) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(1) {
      margin-right: 10px;
    }
  }
}
.header-contacts__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: $secondary-color;
    @include transition(fill, color);
    &:hover,
    &:focus {
      fill: $accent-color;
      color: $accent-color;
    }
  }
}
.contacts--phone {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}
.contacts--email {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: $secondary-color;
  }
}
.header-contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
    fill: $secondary-color;
  }
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}
