.button {
  background-color: $accent-color;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
  padding: 10px 32px;
  border-radius: 4px;
  @include transition(background-color);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.button--sub {
  display: inline-flex;
  justify-content: center;
  margin-left: 12px;
}
.button--sub__icon {
  fill: $white-color;
  height: 24px;
  width: 24px;
  margin-left: 10px;
}
