.button--menu .icon--close {
  display: none;
}
.button--menu.is-open .icon--close {
  display: block;
}
.button--menu.is-open .icon--menu {
  display: none;
}
.button--menu {
  fill: black;
  background-color: transparent;
  border: none;
  z-index: 100;
}
.button--menu:active {
  fill: $accent-color;
}
