.social-icons {
  display: flex;
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}
.social-icons__link--light {
  @include displayflex;
  @include iconsize;
  background-color: $white-color;
  fill: #afb1b8;
  @include transition(fill, background-color);
  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white-color;
  }
}
.social-icons__link--dark {
  @include displayflex;
  @include iconsize;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
  @include transition(background-color);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
