$primary-color: #212121;
$secondary-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$hero-bg-color: #2f303a;
$client-color: #afb1b8;
$footer-link: rgba(255, 255, 255, 0.6);
$footer-bg: #2f303a;
$placeholder-color: rgba(117, 117, 117, 0.5);
$form-border-color: rgba(33, 33, 33, 0.2);
$sub-border-color: rgba(255, 255, 255, 0.3);
$header-border-color: #ececec;
